body {
  max-width: 1280px;
}

.row {
  width: 100%;
  margin: 10px auto;
}

.sumary {
  width: 100%;
  margin-bottom: 20px;
  font-size: 20px;
}

.event {
  width: 100%;
  padding: 10px;
}

.event-title {
  width: 100%;
}

.event-body {
  width: 100%;
  padding: 5px;
}

ul.tags {
  font-size: 13px;
  list-style-type: square;
}

.badge {
  font-size: 13px;
  background-color: #333333;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
  float: right;
}

.badge-success {
  background-color: green;
}

.badge-warning {
  background-color: orange;
}

.badge-danger {
  background-color: red;
}
